# Canada Immigration Fundamentals

**What this notebook shows**
- End-to-end exploratory analysis (loading, cleaning, EDA)
- Clear visual storytelling and interpretation

**Data**
- See in-notebook references (no external files required).

In [ ]:
# Project: Canada Immigration Fundamentals
# Authors: Manish Mogan & Ritesh Penumatsa
# Context: Personal reference notebook for initial EDA on CIC landing data
# Created: September 17, 2025
# Last Updated: September 17, 2025

In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import libraries
import numpy as np
import pandas as pd
import openpyxl

In [9]:
# read data file 'Canada.xlsx' and create a data frame
df = pd.read_excel ('Canada.xlsx', sheet_name = 'Canada by Citizenship (2)')

In [10]:
# get the size of the dataframe (rows, cols)
df.shape

(195, 43)

In [11]:
# get the head of the dataframe
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [12]:
# get the tail of the dataframe
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [13]:
# get the information on the dataframe
df.info (verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [14]:
# get a description of the dataframe
df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,912.764103,1249.015385,901.753846,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,...,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564
std,13.082835,1185.526885,0.431878,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,...,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.000000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000
50%,908.000000,922.000000,902.000000,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,...,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000
75%,922.000000,925.500000,902.000000,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,...,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000
max,935.000000,5501.000000,902.000000,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,...,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

In [15]:
# get a list of column headers
df.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [16]:
# get a list of indices
df.index

RangeIndex(start=0, stop=195, step=1)

In [17]:
# drop unnecessary columns
# in pandas: rows is axis =0 and columns is axis = 1
df.drop (['Type', 'Coverage', 'AREA', 'REG', 'DEV', 'DevName'], axis = 1, inplace = True)

In [18]:
# check the deletion of unnecessary columns
df.head()

,OdName,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1

In [19]:
# rename column names
df.rename (columns = {'OdName':'Country', 'AreaName':'Continent', 'RegName': 'Region'}, inplace = True)

In [20]:
# check if columns were renamed
df.head()

,Country,Continent,Region,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1

In [21]:
# add a column at the end giving the total number of immigrants for each country
df['Total'] = df.sum (axis = 1, numeric_only = True)

In [22]:
# check if column was added
df.head()

,Country,Continent,Region,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [23]:
# change the index to be the name of the country
df.set_index ('Country', inplace = True)

In [24]:
# check if the index was changed
df.head()

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15

In [25]:
# get a slice of the data
df.loc ['Costa Rica']

Continent    Latin America and the Caribbean
Region                       Central America
1980                                      28
1981                                      35
1982                                      42
1983                                      51
1984                                      75
1985                                     113
1986                                      79
1987                                     116
1988                                     104
1989                                      92
1990                                      99
1991                                     156
1992                                     216
1993                                     184
1994                                      83
1995                                      89
1996                                     118
1997                                     135
1998                                     103
1999                                     100
2000                                     106
2001                                     134
2002                                     106
2003                                     105
2004                                     165
2005                                     188
2006                                     279
2007                                     281
2008                                     246
2009                                     217
2010                                     190
2011                                     149
2012                                     183
2013                                     122
Total                                   4489
Name: Costa Rica, dtype: object

In [26]:
# get data for only certain years
df.loc ['Greece', [1981, 1988, 1994, 1999]]

1981    953
1988    564
1994    275
1999    149
Name: Greece, dtype: object

In [27]:
# convert column names into strings
df.columns = list (map (str, df.columns))

In [28]:
# create a condition
cond = (df['Continent'] == 'Asia')
print (cond)

Country
Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [29]:
# create a compound condition using Boolean operators: ~ (not), & (and), | (or)
cond = df[(df['Continent'] == 'Asia') & (df['Region'] == 'Southern Asia')]
print (cond)

                           Continent         Region  1980  1981  1982  1983  \
Country
Afghanistan                     Asia  Southern Asia    16    39    39    47
Bangladesh                      Asia  Southern Asia    83    84    86    81
Bhutan                          Asia  Southern Asia     0     0     0     0
India                           Asia  Southern Asia  8880  8670  8147  7338
Iran (Islamic Republic of)      Asia  Southern Asia  1172  1429  1822  1592
Maldives                        Asia  Southern Asia     0     0     0     1
Nepal                           Asia  Southern Asia     1     1     6     1
Pakistan                        Asia  Southern Asia   978   972  1201   900
Sri Lanka                       Asia  Southern Asia   185   371   290   197

                            1984  1985  1986   1987  ...   2005   2006   2007  \
Country                                              ...
Afghanistan                   71   340   496    741  ...   3436   3009   2652
Bangladesh                    98    92   486    503  ...   4171   4014   2897
Bhutan                         1     0     0      0  ...      5     10      7
India                       5704  4211  7150  10189  ...  36210  33848  28742
Iran (Islamic Republic of)  1977  1648  1794   2989  ...   5837   7480   6974
Maldives                       0     0     0      0  ...      0      0      2
Nepal                          2     4    13      6  ...    607    540    511
Pakistan                     668   514   691   1072  ...  14314  13127  10124
Sri Lanka                   1086   845  1838   4447  ...   4930   4714   4123

                             2008   2009   2010   2011   2012   2013   Total
Country
Afghanistan                  2111   1746   1758   2203   2635   2004   58639
Bangladesh                   2939   2104   4721   2694   2640   3789   65568
Bhutan                         36    865   1464   1879   1075    487    5876
India                       28261  29456  34235  27509  30933  33087  691904
Iran (Islamic Republic of)   6475   6580   7477   7479   7534  11291  175923
Maldives                        1      7      4      3      1      1      30
Nepal                         581    561   1392   1129   1185   1308   10222
Pakistan                     8994   7217   6811   7468  11227  12603  241600
Sri Lanka                    4756   4547   4422   3309   3338   2394  148358

[9 rows x 37 columns]

**Q. 0 (0 points)**
Some useful functions to make your life easier in this assignment:
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
* https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html

**Q. 1 (20 points)**  
Add a row at the bottom of the dataframe that gives the total immigration for each year from 1980 to 2013.

In [30]:
# years var is -> list of years as strings like '1980', '1981', etc.
years = [str(year) for year in range(1980, 2014)]

# created series called total per years (with years var created ^^ above as index) -> sums total immigrants for each year
total_per_year = df[years].sum()

# created grand total which sum across all years to get an overall grand totla
grand_total = total_per_year.sum()

# total_row ->> created row for yearly totals and make it index with name = '' parameter
total_row = pd.Series(total_per_year, name='Total')

# in final totals row for continent/region columns, this specifies "All" to clarify its totaling acrosss all regions and continents
total_row['Continent'] = 'All'
total_row['Region'] = 'All'
total_row['Total'] = grand_total

#adding to the df
df = pd.concat([df, total_row.to_frame().T])

#showing last few rows for confmation
df

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,Africa,Northern Africa,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Yemen,Asia,Western Asia,1,2,1,6,0,18,7,12,...,161,140,122,133,128,211,160,174,217,2985
Zambia,Africa,Eastern Africa,11,17,11,7,16,9,15,23,...,91,77,71,64,60,102,69,46,59,1677
Zimbabwe,Africa,Eastern Africa,72,114,102,44,32,29,43,68,...,615,454,663,611,508,494,434,437,407,8598
Total,All,All,99137,110563,104271,75550,73417,69978,86048,134771,...,257457,247057,232405,243047,248768,276956,246194,256222,257537,6409153

**Q. 2 (20 points)**  
For each year, find the maximum number of immigrants and the country that had the maximum number of immigrants. Create a new dataframe having three columns - year, country, and number of immigrants. For a given year, if there are two or more countries having the same maximum number of immigrants, then choose that country that comes first in alphabetical order.

In [33]:
# drop the "Total" row if it exists (we only want real countries)
df_no_total = df.drop(index='Total', errors='ignore')

# make list of years as strings like b4, '1980'...'2013' since theyre strings in the ds
# your df columns for years are strings, not ints
years = [str(year) for year in range(1980, 2014)]

# empty list to store results
records = []

# loop over each year
for year in years:
    # get the biggest immigrant number for that year (single max value)
    max_val = df_no_total[year].max()

    # grab the country that hit that max (or countries coz there could be ties)
    countries_with_max = df_no_total[df_no_total[year] == max_val].index.tolist()
    #if tie, sort them alphabetically and just take the first one
    country = sorted(countries_with_max)[0]

    # build a little dict with year, country name, and immigrant number
    # cast to int so it's clean, no numpy dtype stuff
    records.append({'year': int(year), 'country': country, 'number_of_immigrants': int(max_val)})

# turn the list of dicts into a dataframe
max_df = pd.DataFrame(records)

#display
max_df

,year,country,number_of_immigrants
0,1980,United Kingdom of Great Britain and Northern I...,22045
1,1981,United Kingdom of Great Britain and Northern I...,24796
2,1982,United Kingdom of Great Britain and Northern I...,20620
3,1983,United Kingdom of Great Britain and Northern I...,10015
4,1984,United Kingdom of Great Britain and Northern I...,10170
5,1985,United Kingdom of Great Britain and Northern I...,9564
6,1986,United Kingdom of Great Britain and Northern I...,9470
7,1987,United Kingdom of Great Britain and Northern I...,21337
8,1988,United Kingdom of Great Britain and Northern I...,27359
9,1989,United Kingdom of Great Britain and Northern I...,23795
10,1990,United Kingdom of Great Britain and Northern I...,31668
11,1991,United Kingdom of Great Britain and Northern I...,23380
12,1992,United Kingdom of Great Britain and Northern I...,34123
13,1993,United Kingdom of Great Britain and Northern I...,33720
14,1994,United Kingdom of Great Britain and Northern I...,39231
15,1995,United Kingdom of Great Britain and Northern I...,30145
16,1996,United Kingdom of Great Britain and Northern I...,29322
17,1997,United Kingdom of Great Britain and Northern I...,22965
18,1998,China,21049
19,1999,China,30069
20,2000,China,35529
21,2001,China,36434
22,2002,China,31961
23,2003,China,36439
24,2004,China,36619
25,2005,China,42584
26,2006,India,33848
27,2007,India,28742
28,2008,China,30037
29,2009,China,29622
30,2010,Philippines,38617
31,2011,Philippines,36765
32,2012,Philippines,34315
33,2013,China,34129

**Q. 3 (20 points)**   
For each year find the total, mean, standard deviation, maximum, minimum, and range (max - min). Create a new dataframe having columns - year, total, mean, standard deviation, maximum, minimum, and range.

In [34]:
# drop total row to only make sure df has country and year stuff - important for querying, searching purposes
df_no_total = df.drop(index='Total', errors='ignore')

# make years list
years = [str(year) for year in range(1980, 2014)]

# empty list for statistics for each year
stats_records = []

# loop each year in the datasret
for year in years:
    # grab immigration number columns shown under each year (one year of immigration numbers across all countries)
    s = df_no_total[year]

    total = s.sum() #sum up immigrants across the countries for that year
    mean = s.mean()#mean immigrants across the countries for that year
    std = s.std()#std of immigrants across the countries for that year
    maximum = s.max() #max # of immigrants across the countries for that year
    minimum = s.min()#min # of immigrants across the countries for that year
    rng = maximum - minimum#range = max - min of immigrants across the years
    stats_records.append({'year': int(year), 'total': int(total), 'mean': mean, 'std': std, 'max': int(maximum), 'min': int(minimum), 'range': int(rng)})
stats_df = pd.DataFrame(stats_records)
stats_df

    year   total         mean          std    max  min  range
0   1980   99137   508.394872  1949.588546  22045    0  22045
1   1981  110563   566.989744  2152.643752  24796    0  24796
2   1982  104271   534.723077  1866.997511  20620    0  20620
3   1983   75550   387.435897  1204.333597  10015    0  10015
4   1984   73417   376.497436  1198.246371  10170    0  10170
5   1985   69978   358.861538  1079.309600   9564    0   9564
6   1986   86048   441.271795  1225.576630   9470    0   9470
7   1987  134771   691.133333  2109.205607  21337    0  21337
8   1988  139306   714.389744  2443.606788  27359    0  27359
9   1989  164432   843.241026  2555.048874  23795    0  23795
10  1990  188054   964.379487  3158.730195  31668    0  31668
11  1991  207509  1064.148718  2952.093731  23380    0  23380
12  1992  221687  1136.856410  3330.083742  34123    0  34123
13  1993  222049  1138.712821  3495.220063  33720    0  33720
14  1994  193665   993.153846  3613.336444  39231    0  39231
15  1995  187712   962.625641  3091.492343  30145    0  30145
16  1996  200085  1026.076923  3321.045004  29322    0  29322
17  1997  192885   989.153846  3070.761447  22965    0  22965
18  1998  160727   824.241026  2385.943695  21049    0  21049
19  1999  179818   922.143590  2887.632585  30069    0  30069
20  2000  216712  1111.343590  3664.042361  35529    0  35529
21  2001  242643  1244.323077  3961.621410  36434    0  36434
22  2002  223111  1144.158974  3660.579836  31961    0  31961
23  2003  217297  1114.343590  3623.509519  36439    0  36439
24  2004  232083  1190.169231  3710.505369  36619    0  36619
25  2005  257457  1320.292308  4425.957828  42584    0  42584
26  2006  247057  1266.958974  3926.717747  33848    0  33848
27  2007  232405  1191.820513  3443.542409  28742    0  28742
28  2008  243047  1246.394872  3694.573544  30037    0  30037
29  2009  248768  1275.733333  3829.630424  29622    0  29622
30  2010  276956  1420.287179  4462.946328  38617    0  38617
31  2011  246194  1262.533333  4030.084313  36765    0  36765
32  2012  256222  1313.958974  4247.555161  34315    0  34315
33  2013  257537  1320.702564  4237.951988  34129    0  34129

**Q. 4 (20 points)**   
For the Scandinavian countries - Denmark, Norway, and Sweden - print the name of the country and the total immigration for each of these countries.

In [35]:
# list of scandinavian countries to look for
scandinavian_countries = ['Denmark', 'Norway', 'Sweden']

#looping through the scandanavian countries
for country in scandinavian_countries:
    #getting immigration amount for each country by looking for total column for that country using loc
    total_immigration = df.loc[country, 'Total']
    #printing country name and its total immigration amount
    print(country, int(total_immigration))

Denmark 3901
Norway 2327
Sweden 5866

**Q. 5 (20 points)**    
Sum the immigration for all the years from the following continents - Africa, Asia, Europe, Latin America and  the Caribbean, Northern America, and Oceania. Print the name of the continent and the total immigration.

In [36]:
#list of continents to look at
continents_to_sum = ['Africa', 'Asia', 'Europe', 'Latin America and the Caribbean', 'Northern America', 'Oceania']

#loop thru each contintent
for continent in continents_to_sum:
    # only looking at countries in continent of current iteration of loop^^, repeats this for each continent
    subset = df[df['Continent'] == continent]

    #summing up totals at country level for that continent
    total_continent = subset['Total'].sum()
    #printing each continent's total immigration amount
    print(continent, int(total_continent))

Africa 618948
Asia 3317794
Europe 1410947
Latin America and the Caribbean 765148
Northern America 241142
Oceania 55174