In [ ]:
#import libraries
import pandas as pd

In [ ]:
#read datasets and create data frames
user_usage = pd.read_csv("../data/user_usage.csv")
user_device = pd.read_csv("../data/user_device.csv")
devices = pd.read_csv("../data/android_devices.csv")

In [ ]:
#### Sanity Checks

In [ ]:
print(user_usage.head())
print(user_usage.tail())
print(user_usage.size)
print(user_usage.shape)
print(user_usage.info())
print(user_usage.describe())

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792
     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220
960
(240, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  240 non-null    float64
 1   outgoing_sms_per_month   240 non-null    float64
 2   monthly_mb               240 non-null    float64
 3   use_id                   240 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 7.6 KB
None
       outgoing_mins_per_month  outgoing_sms_per_month    monthly_mb  \
count               240.000000              240.000000    240.000000
mean                274.559167               98.968292   3628.602042
std                 293.745744              111.172685   4486.311513
min                   0.500000                0.250000      0.000000
25%                  74.590000               29.030000   1132.230000
50%                 189.705000               70.775000   1797.975000
75%                 336.045000              125.627500   4246.617500
max                1816.630000              906.920000  31146.670000

             use_id
count    240.000000
mean   23285.516667
std      624.139253
min    22787.000000
25%    22888.750000
50%    22987.500000
75%    23482.500000
max    25220.000000

In [ ]:
print(user_device.head())
print(user_device.tail())
print(user_device.size)
print(user_device.shape)
print(user_device.info())
print(user_device.describe())

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1
     use_id  user_id platform  platform_version                  device  \
267   23049    29725  android               6.0                SM-G900F
268   23050    29726      ios              10.2               iPhone7,2
269   23051    29726      ios              10.2               iPhone7,2
270   23052    29727      ios              10.1               iPhone8,4
271   23053    20257  android               5.1  Vodafone Smart ultra 6

     use_type_id
267            1
268            3
269            3
270            3
271            1
1632
(272, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   use_id            272 non-null    int64
 1   user_id           272 non-null    int64
 2   platform          272 non-null    object
 3   platform_version  272 non-null    float64
 4   device            272 non-null    object
 5   use_type_id       272 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 12.9+ KB
None
             use_id       user_id  platform_version  use_type_id
count    272.000000    272.000000        272.000000   272.000000
mean   22917.500000  26583.095588          6.917647     1.654412
std       78.663842   5737.037885          2.144877     0.858031
min    22782.000000   2873.000000          4.100000     1.000000
25%    22849.750000  26770.500000          5.100000     1.000000
50%    22917.500000  29610.000000          6.000000     1.000000
75%    22985.250000  29680.250000          9.300000     3.000000
max    23053.000000  29727.000000         10.200000     3.000000

In [ ]:
print(devices.head())
print(devices.tail())
print(devices.size)
print(devices.shape)
print(devices.info())
print(devices.describe())

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A
      Retail Branding Marketing Name       Device        Model
14541           pendo    PNDPP44QC10  PNDPP44QC10  PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7   PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1        QPI-1
14544       tecmobile       OmnisOne     OmnisOne    Omnis One
14545           ucall          EASY1        EASY1        EASY1
58184
(14546, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14546 entries, 0 to 14545
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Retail Branding  14542 non-null  object
 1   Marketing Name   13375 non-null  object
 2   Device           14546 non-null  object
 3   Model            14546 non-null  object
dtypes: object(4)
memory usage: 454.7+ KB
None
       Retail Branding Marketing Name  Device    Model
count            14542          13375   14546    14546
unique             605           8631    9830    12883
top            Samsung      Galaxy S3  mt5880  LG-P970
freq              1762             38      59       23

In [ ]:
#rename column
devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)

In [ ]:
#Goal

#get the average usage figures for different types of devices
#create a new dataframe called 'result' that has the user's device code from user_usage as a column
#add a column to the result data frame of the device's manufacturer from the device data frame

In [ ]:
#### Inner Merge / Inner JOin
#use the pandas merge function to keep only those rows when the merge on parameter exists in both frame

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')

In [ ]:
#run sanity checks
print(result.head())
print(result.tail())
print(result.shape)
print(result.size)
print(result.info())
print(result.describe())

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id  \
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

  platform    device
0  android  GT-I9505
1  android  SM-G930F
2  android  SM-G930F
3  android     D2303
4  android  SM-G361F
     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id  \
154                   198.59                   90.49     5191.12   23043
155                   198.59                   90.49     3114.67   23044
156                   106.65                   82.13     5191.12   23046
157                   344.53                   20.53      519.12   23049
158                    42.75                   46.83     5191.12   23053

    platform                  device
154  android                SM-G900F
155  android                SM-G900F
156  android              Moto G (4)
157  android                SM-G900F
158  android  Vodafone Smart ultra 6
(159, 6)
954
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  159 non-null    float64
 1   outgoing_sms_per_month   159 non-null    float64
 2   monthly_mb               159 non-null    float64
 3   use_id                   159 non-null    int64
 4   platform                 159 non-null    object
 5   device                   159 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 7.6+ KB
None
       outgoing_mins_per_month  outgoing_sms_per_month    monthly_mb  \
count               159.000000              159.000000    159.000000
mean                203.331509               87.978742   4180.378616
std                 248.660581               92.386434   5216.463795
min                   0.500000                0.250000      0.000000
25%                  70.070000               22.855000   1557.330000
50%                 137.060000               62.850000   2076.450000
75%                 241.035000              119.675000   5191.120000
max                1710.080000              540.600000  31146.670000

             use_id
count    159.000000
mean   22922.327044
std       76.511974
min    22787.000000
25%    22861.500000
50%    22931.000000
75%    22986.500000
max    23053.000000

In [ ]:
print(user_usage['use_id'].isin(user_device['use_id']).value_counts())
print(user_device['use_id'].isin(user_usage['use_id']).value_counts())

use_id
True     159
False     81
Name: count, dtype: int64
use_id
True     159
False    113
Name: count, dtype: int64

In [ ]:
#left merge/ left join
# a left merge keeps all the values from the left data frame (user_device) and rows from the right data frame (user_usage) will only be kept when there is a match on parameter, and NaN values when theres is no match.

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='left')

result.shape

(240, 6)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  240 non-null    float64
 1   outgoing_sms_per_month   240 non-null    float64
 2   monthly_mb               240 non-null    float64
 3   use_id                   240 non-null    int64
 4   platform                 159 non-null    object
 5   device                   159 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 11.4+ KB

In [ ]:
#right merge/ right join
# a right merge keeps all the values from the right data frame (user_device) and rows from the left data frame (user_usage) will only be kept when there is a match on parameter, and NaN values when theres is no match.

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='right')

result.shape

(272, 6)

In [ ]:
users = [['Bob', 'Mike', 'Jose'], ['Jim', "Ron"]]
for i in range(len(users)):
  for j in range(len(users[i])):
    print(users[i][j])

Bob
Mike
Jose
Jim
Ron
<class 'list'>

In [ ]:
#check on the number of null values
print(result['monthly_mb'].isnull().sum())

113

In [ ]:
#check on the number of null values
print(result['platform'].isnull().sum())

0

In [ ]:
#outer merge / outer join
# a full outer merge or outer join keeps all the values from both the left ('use_usage) and the right data frame ('user_device). Rows will be aligned when there is a shared values between the left and right data frames. There will be NaN when there is no shared values.

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='outer', indicator = True)

result.shape

(353, 7)

In [ ]:
print(result)

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id  \
0                        NaN                     NaN         NaN   22782
1                        NaN                     NaN         NaN   22783
2                        NaN                     NaN         NaN   22784
3                        NaN                     NaN         NaN   22785
4                        NaN                     NaN         NaN   22786
..                       ...                     ...         ...     ...
348                   260.66                   68.44      896.96   25008
349                    97.12                   36.50     2815.00   25040
350                   355.93                   12.37     6828.09   25046
351                   632.06                  120.46     1453.16   25058
352                   488.70                  906.92     3089.85   25220

    platform     device      _merge
0        ios  iPhone7,2  right_only
1    android    Nexus 5  right_only
2    android   SM-G903F  right_only
3        ios  iPhone7,2  right_only
4    android  ONE E1003  right_only
..       ...        ...         ...
348      NaN        NaN   left_only
349      NaN        NaN   left_only
350      NaN        NaN   left_only
351      NaN        NaN   left_only
352      NaN        NaN   left_only

[353 rows x 7 columns]

In [ ]:
#how many unique user_id's in both of the dataframes
pd.concat([user_usage['use_id'], user_device['use_id']]).unique().shape[0]

353

In [ ]:
#number of rows with no missing values
print((result.apply(lambda x : x.isnull().sum(), axis = 1) == 0).sum())

159

In [ ]:
### Final merge - adding device manufacturer
result = pd.merge(result,
                 devices[['Retail Branding', 'Model']],
                 left_on='device',
                 right_on = 'Model',
                  how = 'left')

result.shape

(411, 9)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  292 non-null    float64
 1   outgoing_sms_per_month   292 non-null    float64
 2   monthly_mb               292 non-null    float64
 3   use_id                   411 non-null    int64
 4   platform                 330 non-null    object
 5   device                   330 non-null    object
 6   _merge                   411 non-null    category
 7   Retail Branding          232 non-null    object
 8   Model                    232 non-null    object
dtypes: category(1), float64(3), int64(1), object(4)
memory usage: 26.3+ KB

In [ ]:
result.describe()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
count,292.000000,292.000000,292.000000,411.000000
mean,266.707808,94.743082,3756.301781,23131.654501
std,281.940606,103.759339,4655.486470,512.755509
min,0.500000,0.250000,0.000000,22782.000000
25%,74.590000,27.630000,1132.230000,22870.500000
50%,189.705000,70.775000,1956.735000,22949.000000
75%,322.815000,127.752500,5133.707500,23034.500000
max,1816.630000,906.920000,31146.670000,25220.000000

In [ ]:
####statistics on the final result
result.groupby('Retail Branding', as_index = False).agg({
    "outgoing_mins_per_month": "mean",
    "outgoing_sms_per_month": "mean",
    "monthly_mb": "mean",
    "use_id": "count"
})

,Retail Branding,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
0,HTC,299.842955,93.059318,5144.077955,47
1,Huawei,81.526667,9.500000,1561.226667,6
2,LGE,111.530000,12.760000,1557.330000,3
3,Lava,60.650000,261.900000,12458.670000,2
4,Lenovo,215.920000,12.930000,1557.330000,2
5,Motorola,95.127500,65.666250,3946.500000,16
6,OnePlus,354.855000,48.330000,6575.410000,12
7,Samsung,191.010093,92.390463,4017.318889,126
8,Sony,177.315625,40.176250,3212.000625,16
9,Vodafone,42.750000,46.830000,5191.120000,1
10,ZTE,42.750000,46.830000,5191.120000,1