In [ ]:
#import libraries
import yfinance as yf

In [2]:
df = yf.download('AAPL', start='2023-01-01', end='2023-12-31')

/tmp/ipykernel_15350/1976911375.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('AAPL', start='2023-01-01', end='2023-12-31')
[*********************100%***********************]  1 of 1 completed

In [3]:
df.tail()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2023-12-22  191.974686  193.769488  191.349970  193.541408  37149600
2023-12-26  191.429291  192.262235  191.211137  191.984587  28919300
2023-12-27  191.528458  191.875525  189.485754  190.874010  48087700
2023-12-28  191.954834  193.025769  191.548272  192.510130  34049900
2023-12-29  190.913666  192.767962  190.120379  192.272159  42672100